body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, rgb(15, 1, 6), rgb(66, 185, 153));
    background-size: cover;
}
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1.2em;
    min-width: 400px;
    margin-bottom: 10%;
    box-shadow: 0 0 50px rgba(93, 248, 199, 0.15);
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr:nth-of-type(odd) {
    background-color: #c7eff1;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}